@import "@/assets/css/var.scss";
// 蓝色字体标题样式
.span-title-blue {
  color: $--color-primary;
  cursor: pointer;
  &:hover {
    color: #26bcf9;
  }
  &:active {
    color: #35dff9;
  }
  user-select: none;
  transition: 0.15s;
  &.disabled {
    color: #cbcbcb;
    pointer-events: none;
    cursor: default;
  }
}

.button-title-pink {
  color: $--color-pink !important;
  border-color: $--color-pink !important;
  &:hover {
    // background-color: rgba($color: $--color-pink, $alpha: 0.05) !important;
    background-color: #fff !important;
  }
  &:active {
    background-color: rgba($color: $--color-pink, $alpha: 0.12) !important;
  }
}

// 前面带有蓝色竖条的标题样式
.blue-v-line {
  &::before {
    width: 3px;
    height: 16px;
    background-color: #428dfa;
    content: '';
    display: inline-block;
    vertical-align: bottom;
    margin-right: 8px;
  }
}
// 黄色小圆点标题
.point {
  &::before {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $--color-text-orgin;
    content: '';
    display: inline-block;
    vertical-align: 20%;
    margin-right: 15px;
  }
}

.is-origin{
  color: $--color-text-orgin;
}
.is-gray{
  color: $--color-text-table-time !important;
}
.gray {
  color: #888 !important;
}
.is-red{
  color: $--color-text-table-pending !important;
}
.is-cancel{
  color: $--color-text-secondary !important;
}
.is-pink{
  color: $--color-pink !important;
}
.is-cyan {
  color: $--color-cyan !important;
}
.is-primary{
  color: $--color-text-primary !important;
}
.is-primary-blue{
  color: $--color-primary !important;
}
.is-light-blue{
  color: rgba($color: $--color-primary, $alpha: 0.7) !important;
}
.is-success{
  color: $--color-text-table-completed !important;
}
.is-blue{
  color: $--color-primary !important;
}
.is-bold {
  font-weight: 700;
}
.is-black {
  color:  $--color-primary-1;
}

.is-thick-line { // 粗体
  font-weight: 600;
}
.is-font-30 {
  font-size: 30px !important;
}
.is-font-24 {
  font-size: 24px !important;
}
.is-font-20 {
  font-size: 20px !important;
}
.is-font-18 {
  font-size: 18px !important;
}
.is-font-16 {
  font-size: 16px !important;
}
.is-font-14 {
  font-size: 14px !important;
}
.is-font-13 {
  font-size: 13px !important;
}
.is-font-12 {
  font-size: 12px !important;
}

.menu-item-sm {
  font-size: 12px;
  color: #aaa;
  cursor: pointer;
  user-select: none;
  &:hover {
    color: #666;
  }
  &:active {
    color: rgb(22, 3, 3);
  }
}

body .iconfont {
  font-size: 14px;
}


// ------------------------- 滚动条样式设置
.mp-scroll-wrap::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}
.mp-scroll-wrap::-webkit-scrollbar-thumb {
  background-color: $--border-color-base;
  border-radius: 3px;
  &:hover {
    background-color: $--color-text-secondary;
  }
}


.el-input__suffix {
  .el-input__icon {
    line-height: 30px;
    transform: rotate(0deg) !important;
    text-align: center;
    &::before {
      content: '\e790',
    }
  }
}
.el-radio__input.is-checked + .el-radio__label,
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #585858;
}
.el-radio__input.is-checked .el-radio__inner {
  background: #fff !important;
  &::after {
    background-color: #428DFA;
    width: 8px;
    height: 8px;
  }
}


/** 统一弹窗标题样式， 需配合slot使用
----------------------------------------------*/
.set-craft-dia {
  > .el-dialog__header {
    padding-top: 16px;
    padding-bottom: 15px;
    > header {
      > i {
        margin-right: 10px;
      }
      color: #888;
    }
    > .el-dialog__headerbtn {
      top: 10px;
      right: 15px;
      font-size: 18px;
    }
    position: relative;
    &::after {
      height: 1px;
      width: calc(100% - 20px);
      margin: 0 10px;
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      background: rgb(245, 245, 245);
    }
  }
}

body .el-radio__inner, body .el-checkbox__inner {
  border-color: #cbcbcb;
}